@import '../../assets/scss/variables';
.mb-10x {
    margin-bottom: 10px;
}

.light-blue {
    background-color: rgb(187, 232, 255);
}
 
.ant-table-tbody > tr.ant-table-row:hover > td {
    background: none !important;
    
}
.virtuallist .ant-table-tbody>tr>td>div{
    font-size: $sm-font-size;
}
 
.ant-table-header{
    font-size: $md-font-size;
}
 .ant-btn{
    font-size: $button-font;
 }