.icon-setting-dialog{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
    .icon-dialog-form {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
        .ant-row {
            margin-bottom: 5px !important;
        }
    
        .mt-5x {
            margin-top: 5px;
        }
    }
}

.zabbix-dialog {
    width: 560px !important;
    height: 520px !important;

    .ant-input[disabled] {
        color: rgb(86, 76, 76) !important;
    }
}

.mt-3x {
    margin-top: 3px;
}

.ml-5x {
    margin-top: 5px;
}