@import '../../assets/scss/variables';

#btn {
  margin-left: 700px;
}

.ant-input,
.ant-input-number-input,
.ant-form-item-label>label {
  font-size: $sm-font-size;
}

.ant-select-selection-item {
  font-size: $sm-font-size;
}

.ant-input-number-input[disabled] {
  color: #645e5e !important;
}