@import "../../../../assets/scss/variables";

.view-variable-form .ant-table.ant-table-small .ant-table-tbody > tr > td.ant-table-cell {
    white-space: break-spaces;
    padding-top: 0px;
    padding-bottom: 0px;
}

.view-variable-form .ant-table.ant-table-small .ant-table-thead > tr > th {
    font-size: $th-font;
    padding: 2px 8px;
}